.form {
  width: 360px;
  height: 72px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  margin-left: 100px;
  margin-top: 100px;
}

.form > label {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form input[type='number'] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #000;
}

.form input[type='number']:focus {
  border-color: #2563eb;
}

fieldset {
  border: 2px solid #9ca3af;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  gap: 24px;
  align-items: center;
}

legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

fieldset label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  color: #2e2f42;
}

fieldset input[type='radio'] {
  border: 1px solid #000;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

button[type='submit'] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button[type='submit']:hover {
  background: #6c8cff;
}
